div#content div{
	display: inline-block;
	width: 48%;
}

div#content div h1{
	margin: 50px;
}

div#content div.news{
	background-color: skyblue;
	vertical-align: top;
}

div#content div.news div.actu{
	background-color: blue;
	width: 97%;
	margin: 8px;
}

div#content div.news div.actu img{
	border-radius: 50%;
}

div#content div.rightbox{
	background-color: skyblue;
}
nav.menu-nav ul li.btn{
	display: inline-block;
	list-style-type: none;
}

nav.menu-nav ul li.btn a{
	color: white;
	text-decoration: none;
	background-color: red;
	padding: 10px;
}

nav.menu-nav ul li.btn:hover a{
	color: red;
	background-color: white;
	transition: 0.3s all;
}

header{
	background-color: blue;
}

footer{
	background-color: black;
	color: white;
}

a{
	color: red;
}