body{
    font-family: 'Source code pro', Calibri, serif;
    margin: 0px;
    padding: 0px;
}

/* ---- Menu ----- */
nav{
    width: 100%;
    background-color: #424858;
}

nav ul{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

nav li{
    list-style-type: none;
    float: left;
}

nav a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: white;
}

body nav li:hover{
    border-top: 5px solid red;
    background-color: rgba(228, 77, 38, 0.15);
}

nav li:hover a{
    padding: 15px 30px 20px 30px;
}

/* ----- Contenue ----- */
div#content div h1, p , iframe, h2, a{
    margin: 30px;
}

div#content div{
    display: inline-block;
    width: 48%;
}

div#content{
    margin: 30px;
}

div#content div.sub-content{
    vertical-align: top;
    margin: 20px;
}

div#content div.sub-content div.article{
    background-color: aquamarine;
    width: 95%;
    margin: 20px;
}